.A {
    width: 100%;
    height: 100px;
    background-color: lightblue;
}
.B {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: lightgrey;
}
.C {
    float: left;
    width: 200px;
    height: 250px;
    margin-left: 125px;
    background-color: lightcoral;
}
.D {
    float: left;
    width: 400px;
    height: 400px;
    
    background-color: lightsalmon;
}
table {
    width: 100%;
    height: 280px;
    border-spacing: 10px;
    background-color: #e6ffff;
}
td {
    background-color: lightblue;
}
