span.A {
    display: block;
    width: 200px;
    height: 20px;
    padding: 13px;
    border: 2px solid blue;
    margin: 10px;
    background-color: #009999;
}
span.B {
    padding: 13px;
    border: 2px solid red;
    margin: 10px;
    background-color: yellow;
}
span.C {
    display: inline-block;
    width: 200px;
    height: 20px;
    padding: 13px;
    border: 2px solid green;
    margin: 10px;
    background-color: lightgreen;
}